.Game--title {
  padding: 10px;
}

.Game--title:first-letter {
  text-transform: capitalize;
}

.Game .row {
  display: flex;
  width: 512px;
  justify-content: center;
  align-items: center;
}
.button {
  width: 150px;
}
.button button {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding: 10px;
}
