.Cell {
  width: 40px;
  height: 40px;
}

.Cell--vacant {
  width: 60px;
  height: 60px;
  cursor: not-allowed;
}

.Cell--occupied {
  cursor: not-allowed;
}

.Cell.Cell--allowed {
  cursor: pointer !important;
}

.Cell:hover {
  background: #54af2f;
}
